@media screen and (max-width: 1200px) {
    #movie-info {
        width: 85%;
        margin: 0 auto;
        margin-top: 25px;
    }
    #logo {
        width: 85%;
        margin: 0 auto;
    }
    #poster {
        width: 75%;
        height: auto;
    }
    #main {
        margin: 0 auto;
    }
    #movieSearchBox {
        width: 75%;
        padding: 5px;
    }
    .clear-btn {
        vertical-align: top;
    }  
}
@media screen and (max-width: 640px) {
    body {
        background-color: white;
    }
    #container {
        margin-left: 10px;
        margin-right: 10px;
    }
    #main {
        background-image: none;
        color: darkgray;
    }
    #movie-info {
        margin: 0 auto;
        margin-top: 15px;
    }
    #movieSearchBox {
        width: 60%;
        padding: 15px;
    }
    .clear-btn {
        vertical-align: top;
    }    
    #knownForContainer{
        width: 90%;
    }
    #popItem {
        width: 45%;
    }
    #similarItems {
        width: 45%;
    }    
}