<div>
    <a ng-href="#/" ><img id="logo" src="images/logo3.png"></a> 
    <h1 id="accHeading">Account Info</h1>
        <div style="background-color: #fcfcfc; padding: 10px; box-sizing: border-box">
            <!--
            <form>
                <p>First Name</p>
                <input class="form-control  form-control2" type="text" placeholder="{{currentUser.firstname}}" disabled>
                <p>Last Name</p>
                <input class="form-control  form-control2" type="text" placeholder="{{currentUser.lastname}}" disabled>
                <p>Email</p>
                <input class="form-control  form-control2" type="email" placeholder="{{currentUser.email}}" disabled>
                <button ng-submit="" disabled>Submit</button>
            </form> 
                <button ng-submit="" disabled>Edit Info</button> 
            -->
            <h3>Name</h3>
            <p>{{currentUser.firstname}} {{currentUser.lastname}} - Registered On: {{currentUser.date | date : format : short}}</p>
            <h3>Email</h3>
            <p>{{currentUser.email}}</p>
            <h3>Favorites </h3><h5 id="clearList" ng-click="deleteFavorite()"> (Clear List)</h5>
            <button class="btn" ng-click="getFavorites()">Load Favorites</button>
            <ul style="padding: 0">
                <li  style="padding: 5px; margin: 5px; list-style-type: none" ng-repeat="fav in favorites"><a ng-href="#/search/{{fav.title}}">{{fav.title}} ({{fav.year}})</a></li>
            </ul>
        </div>
</div>